.button__export {
  border-radius: 18px;
  font-size: 14px;
  height: 36px;
}

.button__submit {
  border-radius: 18px;
  font-size: 14px;
  height: 36px;
}

.welfare-fund-table tr td {
  font-size: 13px;
}
