<div class="row p-4 bgno">
  <div class="col px-0">
    <div class="d-flex w-100">
      <div>
        <h3 class="title noselect">รายละเอียดหน่วยงาน</h3>
      </div>
      <div class="ml-auto">
      </div>
    </div>
  </div>
</div>
<div class="row mt-5">
  <div class="col-md-12">
    <form [formGroup]="siteForm" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
      <div class="row">
        <div class="col-md-2">
          <div class="p-2">
            <div class="form-group">
              <label for="code">รหัสหน่วยงาน</label>
              <input type="text" class="form-control" formControlName="code">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="d-flex flex-column">
            <div class="p-2">
              <div class="form-group">
                <label for="full_name">ชื่อเต็ม <span class="text-danger">
                    <small>*</small>
                  </span></label>
                <input type="text" class="form-control" formControlName="full_name" maxlength="100">
              </div>
            </div>
            <div class="p-2">
              <div class="form-group">
                <label for="name">ชื่อเรียก <span class="text-danger">
                    <small>*</small>
                  </span></label>
                <input type="text" class="form-control" formControlName="name" maxlength="100">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="line"></div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="d-flex align-items-center my-2">
            <div>
              <h3 class="title">ที่อยู่หน่วยงาน</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="p-2">
            <div class="form-group">
              <label for="address">ที่อยู่
                <span class="text-danger">
                  <small>*</small>
                </span></label>
              <input type="text" class="form-control" formControlName="address">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="p-2">
            <div class="form-group">
              <label for="province_id">จังหวัด
                <span class="text-danger">
                  <small>*</small>
                </span></label>
              <ng-select placeholder="กรุณาเลือก" class="province-select" [clearable]="false" [items]="provinces"
                bindLabel="name" bindValue="id" notFoundText="ไม่พบข้อมูล" formControlName="province_id"
                (change)="onSelectionProvince($event)">
              </ng-select>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="p-2">
            <div class="form-group">
              <label for="amphur_id">อำเภอ/เขต
                <span class="text-danger">
                  <small>*</small>
                </span></label>
              <ng-select placeholder="กรุณาเลือก" class="amphur-select" [clearable]="false" [items]="user_amphurs"
                bindLabel="name" bindValue="id" notFoundText="ไม่พบข้อมูล" formControlName="amphur_id"
                (change)="onSelectionAmphur($event)">
              </ng-select>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="p-2">
            <div class="form-group">
              <label for="district_id">ตำบล/แขวง
                <span class="text-danger">
                  <small>*</small>
                </span></label>
              <ng-select placeholder="กรุณาเลือก" class="district-select" [clearable]="false" [items]="user_districts"
                bindLabel="name" bindValue="id" notFoundText="ไม่พบข้อมูล" formControlName="district_id"
                (change)="onSelectionDistrict($event)">
              </ng-select>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="p-2">
            <div class="form-group">
              <label for="postcode">รหัสไปรษณีย์</label>
              <input type="text" class="form-control" formControlName="postcode">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="p-2">
            <div class="form-group">
              <label for="latitude">Latitude <small class="text-secondary">Optional</small></label>
              <input type="text" class="form-control" formControlName="latitude">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="p-2">
            <div class="form-group">
              <label for="longitude">Longitude <small class="text-secondary">Optional</small></label>
              <input type="text" class="form-control" formControlName="longitude">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="line"></div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="d-flex align-items-center my-2">
            <div>
              <h3 class="title">เวลาและจำนวนแรง</h3>
            </div>
            <div class="ml-4">
              <div class="form-group mb-0">
                <input type="checkbox" id="self_checkin" formControlName="self_checkin">
                <label class="self-checkin-label pl-2 mb-0" for="self_checkin">
                  สามารถลงบันทึกเวลาตนเองได้
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col" formArrayName="site_work_rates">
          <div class="d-flex align-items-center w-100"
            *ngFor="let siteWorkRateForm of siteWorkRateForms.controls; let i = index" [formGroupName]="i">
            <div class="p-2">
              <span class="badge badge-primary py-2 rounded-badge">{{ i + 1 }}</span>
            </div>
            <div class="p-2">
              <div class="form-group">
                <label for="start_time">เข้างาน <span class="text-danger"><small>*</small></span></label>
                <timepicker formControlName="start_time" [showMeridian]="false" [showSpinners]="false"></timepicker>
              </div>
            </div>
            <div class="p-2">
              <div class="form-group">
                <label for="start_time">ออกงาน <span class="text-danger"><small>*</small></span></label>
                <timepicker formControlName="end_time" [showMeridian]="false" [showSpinners]="false"></timepicker>
              </div>
            </div>
            <div class="p-2">
              <div class="form-group">
                <label for="worker_count">จำนวนแรง <span class="text-danger"><small>*</small></span></label>
                <input type="number" class="form-control" formControlName="worker_count" (input)="onKeyWorkerCountAtSiteWorkRate($event, i)">
              </div>
            </div>
            <div class="p-2 remove-site" *ngIf="i > 0">
              <i class="fa fa-times-circle" aria-hidden="true" (click)="removeSiteWorkRate(i)"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-primary button__add" (click)="addSiteWorkRate()"><i class="fa fa-plus"
              aria-hidden="true"></i>
            เพิ่มเวลา</button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="line"></div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="d-flex align-items-center my-2">
            <div>
              <h3 class="title">ค่าจุด</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col" formArrayName="site_checkpoints">
          <div class="d-flex align-items-center w-100"
            *ngFor="let siteCheckpointForm of siteCheckpointForms.controls; let i = index" [formGroupName]="i">
            <div class="p-2">
              <span class="badge badge-primary py-2 rounded-badge">{{ i + 1 }}</span>
            </div>

            <div class="p-2">
              <div class="form-group">
                <label for="time_range">ช่วงเวลา <span class="text-danger"><small>*</small></span></label>
                <select class="form-control time-range-select" formControlName="time_range" (change)="onTimeRangeChange($event, i)">
                  <option value="">เลือกรายการ</option>
                  <option *ngFor="let workRate of siteWorkRateForms.controls" 
                          [value]="formatTime(workRate.get('start_time').value) + ' - ' + formatTime(workRate.get('end_time').value)">
                    {{ formatTime(workRate.get('start_time').value) + ' - ' + formatTime(workRate.get('end_time').value) }}
                  </option>
                </select>
              </div>
            </div>
            <div class="p-2">
              <div class="form-group">
                <label for="checkpoint_name">ชื่อจุด <span class="text-danger"><small>*</small></span></label>
                  <input type="text" class="form-control" formControlName="checkpoint_name" maxlength="150">
              </div>
            </div>
            <div class="p-2">
              <div class="form-group">
                <label for="point_value">ค่าจุด <span
                    class="text-danger"><small>*</small></span></label>
                <input type="number" class="form-control" formControlName="point_value">
              </div>
            </div>
            <div class="p-2">
              <div class="form-group">
                <label for="worker_count">จำนวนแรง <span class="text-danger"><small>*</small></span></label>
                <input type="number" class="form-control" formControlName="worker_count" (input)="onKeyWorkerCountAtSiteCheckpoint($event, i)">
              </div>
            </div>
            <div class="p-2 remove-site">
              <i class="fa fa-times-circle" aria-hidden="true" (click)="removeSiteCheckpoint(i)"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-primary button__add" [disabled]="siteWorkRateForms.controls.length < 1" (click)="addSiteCheckpoint()"><i class="fa fa-plus"
              aria-hidden="true"></i>
            เพิ่มค่าจุด</button>
        </div>
      </div>
      <div class="row mt-2" *ngIf="alertSiteCheckpoint">
        <div class="col alert">
          <alert type="danger">
            <strong>ขออภัย!</strong> กรุณากรอกเวลาเข้างาน-ออกงาน ให้ตรงกับข้อมูลเวลาและจำนวนแรงที่ระบุข้างต้น
          </alert>
        </div>
      </div>
      <div class="row mt-2" *ngIf="alertOverWorkerCountAtSiteCheckpoint">
        <div class="col alert">
          <alert type="danger">
            <strong>ขออภัย!</strong> จำนวนแรงรวมของค่าจุดในช่วงเวลาเดียวกัน จะต้องไม่เกินกว่าจำนวนแรงของข้อมูลเวลาและจำนวนแรงที่ระบุข้างต้น
          </alert>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
          <div class="line"></div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="d-flex align-items-center my-2">
            <div>
              <h3 class="title">อัตราการจ้างพนักงาน</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="d-flex w-100">
            <div class="p-2">
              <div class="form-group">
                <label for="minimum_wage">ค่าแรงขั้นต่ำ <span class="text-danger"><small>*</small></span></label>
                <input type="number" class="form-control" formControlName="minimum_wage">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-md-4">มีค่าแรงสแปร์หรือไม่</div>
        <div class="col-md-2">
          <div class="input-group">
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" formControlName="is_replacement_wage" name="is_replacement_wage"
                  [value]="false"> ไม่มี
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" formControlName="is_replacement_wage" name="is_replacement_wage"
                  [value]="true"> มี
              </label>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group mb-0" *ngIf="siteForm.get('is_replacement_wage').value">
            <input type="text" class="form-control" formControlName="replacement_wage">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col" formArrayName="site_user_positions">
          <div class="d-flex align-items-center w-100"
            *ngFor="let siteUserPositionForm of siteUserPositionForms.controls; let i = index" [formGroupName]="i">
            <div class="p-2">
              <div class="form-group">
                <label for="user_position_id">ตำแหน่ง <span class="text-danger"><small>*</small></span></label>
                <ng-select placeholder="ตำแหน่ง" class="role-select" [clearable]="false" [items]="userPositions"
                  bindLabel="nameTH" bindValue="id" notFoundText="ไม่พบข้อมูล" formControlName="user_position_id">
                </ng-select>
              </div>
            </div>
            <div class="p-2">
              <div class="form-group">
                <label for="minimum_manday">วันทำงานต่อเดือน <span class="text-danger"><small>*</small></span></label>
                <input type="number" class="form-control" formControlName="minimum_manday">
              </div>
            </div>
            <div class="p-2">
              <div class="form-group">
                <label for="hiring_rate_per_day">อัตราจ้างวันละ <span
                    class="text-danger"><small>*</small></span></label>
                <input type="number" class="form-control" formControlName="hiring_rate_per_day">
              </div>
            </div>
            <div class="p-2 remove-site" *ngIf="i > 0">
              <i class="fa fa-times-circle" aria-hidden="true" (click)="removeSiteUserPosition(i)"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-primary button__add" (click)="addSiteUserPosition()"><i
              class="fa fa-plus" aria-hidden="true"></i>
            เพิ่มตำแหน่ง</button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="line"></div>
        </div>
      </div>
      <div class="row" *ngIf="!f.form.valid">
        <div class="col">
          <p class="text-left">
            <alert type="warning">
              <strong>คำเตือน!</strong> กรุณากรอกข้อมูลที่มีเครื่องหมายดอกจันทร์ (*) ให้ครบถ้วน
            </alert>
          </p>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col">
          <div class="d-flex w-100">
            <div>
              <div class="d-flex flex-column">
                <div>
                  <div class="form-group">
                    <input type="checkbox" id="is_monthly" formControlName="is_monthly">
                    <label class="pl-2" for="is_monthly">
                      จ่ายเงินรายเดือน
                    </label>
                  </div>
                </div>
                <div>
                  <div class="form-group">
                    <input type="checkbox" id="is_sso_annual_holiday" formControlName="is_sso_annual_holiday">
                    <label class="pl-2" for="is_sso_annual_holiday">
                      คำนวณประกันสังคมโดยรวมรายรับ <u>นักขัตฤกษ์</u>
                    </label>
                  </div>
                </div>
                <div>
                  <div class="form-group">
                    <input type="checkbox" id="is_minimum_manday" formControlName="is_minimum_manday">
                    <label class="pl-2" for="is_minimum_manday">
                      คำนวณประกันสังคมไม่เกิน 26 วัน
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="ml-auto">
              <button type="submit" [disabled]="!f.form.valid || alertSiteCheckpoint || alertOverWorkerCountAtSiteCheckpoint" class="btn button__save">บันทึกข้อมูล</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
