.logo-header {
  height: 70px;
}

.header-text {
  font-size: 0.8rem;
}

.report-header {
  font-size: 1rem;
}

table {
  width: 100%;
}

table>tbody>tr>td {
  font-size: 14px;
  line-height: 1.5rem;
}

.left-column {
  width: 240px;
  font-size: 0.8rem;
}

.mid-column {
  width: 245px;
  font-size: 0.8rem;
}

.right-column {
  width: 255px;
  font-size: 0.7rem;
}

.half-column {
  width: 350px;
  font-size: 0.8rem;
}

.bg-highlight {
  background-color: #dddddd;
}

.signature-box {
  font-size: 0.8rem;
}

.page-break {
  page-break-before: always;
}

.container-fluid {
  padding: 15px;
}

.bg-highlight {
  padding-top: 5px;
  padding-bottom: 5px;
}