.logo-header {
  height: 70px;
}

.header-text {
  font-size: 0.6rem;
}

.report-header {
  font-size: 0.8rem;
}

table {
  width: 100%;
}

table>tbody>tr>td {
  font-size: 0.7rem;
}

.left-column {
  width: 240px;
  font-size: 0.7rem;
}

.mid-column {
  width: 245px;
  font-size: 0.7rem;
}

.right-column {
  width: 255px;
  font-size: 0.7rem;
}

.half-column {
  width: 350px;
  font-size: 0.7rem;
}

.bg-highlight {
  background-color: #dddddd;
}

.signature-box {
  font-size: 0.7rem;
}

.page-break {
  page-break-before: always;
}
