.logo-header {
  height: 70px;
}

.header-text {
  font-size: 0.8rem;
}

.report-header {
  background-color: #eaeaea;
}

.img-profile {
  height: 160px;
  width: 125px;
}

.page {
  height: 875px !important;
}

.page-break {
  page-break-before: always;
}

.text-sign {
  text-indent: 50px;
}

* {
  letter-spacing: normal;
}
