<router-outlet (activate)="onActivate($event)"></router-outlet>
<div id="notification" class="hidden" #notification>
  <p id="message" #message></p>
  <div class="d-flex justify-content-center align-items-center w-100">
    <div>
      <button type="button" id="close-button" (click)="closeNotification()" class="btn btn-outline-dark button__updater">
        Close
      </button>
    </div>
    <div class="ml-2">
      <button type="button" id="restart-button" (click)="restartApp()" class="btn btn-primary button__updater hidden" #restartButton>
        Restart
      </button>
    </div>
  </div>
</div>
