<router-outlet (activate)="onActivate($event)"></router-outlet>
<div id="notification" class="hidden" #notification>
  <div class="d-flex flex-column justify-content-center align-items-center w-100">
    <div>
      <p class="message mb-0" id="message" #message></p>
    </div>
    <div class="updater-loading" #updaterLoading>
      <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
      <span class="sr-only">กำลังดาวน์โหลด</span> กำลังดาวน์โหลด...
    </div>
    <div class="d-flex justify-content-center align-items-center w-100 mt-2">
      <div>
        <button type="button" id="restart-button" (click)="restartApp()" class="btn btn-primary button__updater hidden"
          #restartButton>
          เริ่มต้นใหม่
        </button>
      </div>
    </div>
  </div>
