.logo-header {
    height: 160px;
}

.header-text {
    font-size: 0.9rem;
}

.report-header {
    background-color: #eaeaea;
}

.page {
    height: 875px !important;
}

.page-footer {
    position: absolute;
    bottom: 0;
    left: 60px;
    font-size: 14px;
}

.page-number {
    position: absolute;
    bottom: 0;
    right: 60px;
    font-size: 14px;
}

.container-fluid {
    padding: 25px 25px 25px 70px;
    position: relative;
}

.page-break {
    page-break-before: always;
}

* {
    font-size: 20px;
    letter-spacing: normal;
}

hr {
    border-top: 2px solid #000000;
}

ol {
    padding-left: 20px;
}

ol li {
    margin-top: 10px;
}

.label {
    font-weight: bold;
}

.text-input {
    font-size: 18px;
}

.dotted-bottom {
    border-bottom: 2px dotted #000000;
}

.mw-50 {
    min-width: 50px;
}

.mw-80 {
    min-width: 80px;
}

.mw-90 {
    min-width: 90px;
}

.mw-100 {
    min-width: 100px;
}

.mw-150 {
    min-width: 150px;
}

.mw-200 {
    min-width: 200px;
}

.mw-260 {
    min-width: 260px;
}

.mw-300 {
    min-width: 300px;
}

.mw-350 {
    min-width: 350px;
}


.mw-400 {
    min-width: 400px;
}

.mw-420 {
    min-width: 420px;
}

.mw-600 {
    min-width: 600px;
}

.blank-dotted-bottom {
    border-bottom: 2px dotted #000000;
    margin-top: 10px;
    height: 29px;
}

.blank-dotted-bottom.inline {
    display: inline-block;
}

.number-dotted-bottom {
    border-bottom: 2px dotted #000000;
    width: 40px;
    text-align: center;
    margin-left: 5px;
}

.content {
    border: 2px solid #000000;
    position: relative;
}

.employee-image {
    position: absolute;
    height: 320px;
    width: 240px;
    top: 20px;
    right: 20px;
    border: 1px solid #000000;
}

.employee-image>img {
    width: 100%;
    height: 100%;
}

.box {
    width: 24px;
    height: 24px;
    border: 1px solid #000000;
    display: block;
    line-height: 1;
}

.report-top {
    position: relative;
    height: 150px;
}

.report-top-last {
    position: relative;
    height: 120px;
}

.report-logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.report-iso-logo {
    position: absolute;
    top: 0;
    right: 0;
}

.report-iso-logo > img {
    width: 120px;
}

.report-logo-start {
    position: absolute;
    top: 0;
    left: 0;
}

.report-title {
    font-size: 28px;
    font-weight: 900;
}

.application-form-row>div {
    margin: 0.25em 0;
}

.table-bordered {
    border: 2px solid #212529;
}

.table-bordered th {
    text-align: center;
}

.table-bordered th,
.table-bordered td {
    border: 2px solid #212529 !important;
}

.table-info-additional {
    margin: 0;
}

.table-info-additional th,
.table-info-additional td {
    padding: 6px;
    font-size: 16px !important;
}

.col-40 {
    width: 40%;
}

.col-20 {
    width: 20%;
}

.span-label {
    white-space: nowrap;
    display: block;
}

.employee-data {
    font-style: italic;
    font-weight: 900;
}

.interview-assessment-table {
    width: 100%;
}

.interview-assessment-table thead tr th {
    background-color: #d0d0d0;
    text-align: center;
    vertical-align: middle;
}

.interview-assessment-table td {
    padding: 0.25rem 0.5rem;
}

.col-no {
    width: 100px;
}

.col-assessment {
    width: 100px;
}

.staff-only {
    border: 2px solid #000000;
    padding: 10px 20px;
}

.underline {
    text-decoration: underline;
}

.document-title {
    width: 400px;
}

.report-paragraph {
    text-indent: 100px;
    margin-bottom: 0;
    text-align: justify;
    line-height: 2em;
}

.report-paragraph>strong {
    font-size: 20px;
}

.report-label,
.report-label>strong {
    font-size: 20px;
}

.f20x {
    font-size: 20px;
    padding: 0 50px 0 50px;
}

.px50px {
    padding: 0 50px 0 50px;
}

.px100px {
    padding: 0 100px 0 100px;
}

.px150px {
    padding: 0 150px 0 150px;
}


.attachment-title {
    font-size: 24px;
    font-weight: 900;
    text-decoration: underline;
}

.attachment-title-sm {
    font-size: 20px;
    font-weight: 900;
    text-decoration: underline;
}

.attachment-subtitle {
    font-size: 24px;
    font-weight: 900;
}

.attachment-paragraph,
.rule-paragraph {
    text-indent: 100px;
    margin-bottom: 0;
    text-align: justify;
}

ol {
    list-style-type: none;
    counter-reset: item;
    margin: 0;
    padding: 0;
}

ol>li {
    display: table;
    counter-increment: item;
    margin-bottom: 0.6em;
}

ol>li:before {
    content: counters(item, ".") ". ";
    display: table-cell;
    padding-right: 0.6em;
}

li ol>li {
    margin: 0;
}

li ol>li:before {
    content: counters(item, ".") " ";
}

.report-indent-checkbox {
    margin-left: 140px;
}

.report-checkvalue {
    position: relative;
}

.report-checkbox {
    position: absolute;
    left: -40px;
}

.report-indent {
    margin-left: 100px;
}

ul {
    margin: 0;
}

ul.dashed {
    list-style-type: none;
}

ul.dashed>li {
    text-indent: -20px;
}

ul.dashed>li:before {
    content: "-"" ";
    text-indent: -20px;
}

.attachment-paragraph.lh {
    line-height: 2.5rem;
}

.job-page-title {
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
}

.responsibility-list li::before {
    content: counters(item, "");
    padding: 0 1.4em;
}

.rule-item li:before {
    content: "1." + counters(item, "");
}

.rule-item-right {
    counter-reset: my-sec-counter 24 !important;
}

.rule-item-right li:before {
    counter-increment: my-sec-counter !important;
    content: "1." counter(my-sec-counter) !important;
}

.rule-ol {
    counter-reset: item 1 !important;
}

.rule-content * {
    font-size: 18px !important;
    line-height: 1.75rem;
}

.radio-checklist {
    margin-left: 100px;
}

.attachment1-second {
    counter-reset: second-counter 14 !important;
}

.attachment1-second li:before {
    counter-increment: second-counter !important;
    content: counter(second-counter) "." !important;
}

.attachment1-second ol {
    counter-reset: nested-att-counter 0 !important;
}

.attachment1-second ol li:before {
    counter-increment: nested-att-counter !important;
    content: counter(second-counter) "." counter(nested-att-counter) !important; 
}

.signature-bracket {
    font-size: 20px;
    min-width: 200px;
    display: inline-block;
    text-align: center;
}

.padding120px {
    padding-left: 120px;
    padding-right: 120px;
}

.well-known-list li:before {
    content: "รับทราบ " counters(item, "") ".";
    width: 105px;
}

.report-header-pdpa-container {
    position: relative;
    height: 80px;
}

.report-header-pdpa {
    position: absolute;
    left: 65%;
    transform: translate(-45%, 0);
}

.pdpa-head-label {
    width: 58px;
    display: inline-block;
}

.pdpa-signature-container {
    position: relative;
    height: 80px;
}

.pdpa-signature {
    position: absolute;
    top: 50px;
    left: 65%;
    transform: translate(-45%, 0);

}