.wrapper {
  background-color: #eaeaea;
}

.hidden {
  display: none;
}

.sidebar {
  background-color: #333333;
  float: left;
  position: fixed;
  width: 218px;
  height: 100%;
}

.sidebar>div.logo-container {
  margin-top: 15px;
}

.logo {
  width: 122px;
}

.container {
  background-color: #ffffff;
}

.content {
  background-color: #fbfbfb;
  margin-left: 218px;
  min-height: calc(100vh - 60px);
  padding: 10px 20px 180px 20px;
}

.full-width {
  padding: 0;
  margin: 0;
}

.topnavbar {
  background-color: #ffffff;
  margin-left: 218px;
  height: 60px;
  padding: 14px 30px;
}

.topnavbar>* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
}

.topnavbar-link {
  text-decoration: none;
}

.dropdown-profile {
  position: relative;
}

.dropdown-menu {
  right: 0 !important;
  left: auto !important;
}

.sidebar--add-button {
  margin-top: 48px;
  margin-bottom: 38px;
}

.button__add {
  width: 140px;
  height: 38px;
  border-radius: 17px;
}

.nav-menu {
  padding: 9px;
  margin: 0;
  height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
}

.nav-link {
  cursor: pointer;
  color: #a8b7c7;
  height: 44px;
}

.nav-link:hover {
  opacity: .8;
}

.nav-link.active {
  background-color: #4b74ff;
  color: #ffffff;
}

.nav-icon {
  width: 28px;
  text-align: center;
}

.nav-icon>i {
  font-size: 1.2em;
}

.close-icon {
  font-size: 1.25em;
}

.close-icon:hover {
  opacity: .8;
}

.has-search .form-control::placeholder {
  font-size: 14px;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search input.form-control {
  font-size: 14px;
  height: 32px;
  width: calc(40vw);
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.result-group {
  position: absolute;
  width: calc(40vw);
  box-shadow: 5px 5px 10px -5px #dedede;
}

.result-group .list-group-item {
  font-size: 14px;
  padding: .5em 3em;
  border: 1px solid #efefef;
}

.menu-text {
  font-size: 14px;
}

.button__scan {
  background-color: #05ca9d;
  font-size: 14px;
  width: 160px;
  height: 32px;
}

.button__scan img {
  height: 20px;
}

.nfc-scan-icon {
  width: 150px;
}
