  <div class="card">
    <div class="card-body p-0">
      <tabset #staticTabs>
        <tab heading="ข้อมูล">
          <div class="tab-layout">
            <div class="row">
              <div class="col-md-9 text-left">
                <div class="row mb-2">
                  <div class="col">
                    <h5>
                      {{ user?.company.name.toUpperCase() + user?.empNo }}
                      <br />
                      <small>{{ user?.site.name }}</small>
                    </h5>
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-md-4">
                    <span class="label-title d-block">
                      ตำแหน่ง
                    </span>
                    <p>
                      {{ user?.userPosition.nameTH }}
                    </p>
                  </div>
                  <div class="col-md-4">
                    <span class="label-title d-block">
                      เลขที่ใบอนุญาต
                    </span>
                    <p>
                      {{ user?.licenseNo }}
                    </p>
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col">
                    <span class="label-title d-block">
                      ชื่อ-สกุล
                    </span>
                    <p>
                      {{ user?.title }} {{ user?.firstName }} {{ user?.lastName }}
                      <br /> {{ capitalizeFirstLetter(user?.titleEn) }}. {{ user?.firstnameEn }}
                      {{ user?.lastnameEn }}
                    </p>
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-md-4">
                    <span class="label-title d-block">
                      เพศ
                    </span>
                    <p *ngIf="user?.gender == 'male'; else genderElseBlock">
                      ชาย
                    </p>
                    <ng-template #genderElseBlock>
                      <p>หญิง</p>
                    </ng-template>
                  </div>
                  <div class="col-md-4">
                    <span class="label-title d-block">
                      สัญชาติ
                    </span>
                    <p>
                      {{ user?.nationality }}
                    </p>
                  </div>
                  <div class="col-md-4">
                    <span class="label-title d-block">
                      ศาสนา
                    </span>
                    <p>
                      {{ user?.religion }}
                    </p>
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-md-8">
                    <span class="label-title d-block">
                      วันเกิด
                    </span>
                    <p>
                      {{ user?.birthdate | date: 'dd/MM/yyyy' }}
                    </p>
                  </div>
                  <div class="col-md-4">
                    <span class="label-title d-block">
                      อายุ
                    </span>
                    <p>
                      {{ convertToAge(user?.birthdate) }}
                    </p>
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-md-8">
                    <span class="label-title d-block">
                      ส่วนสูง (ซม.)
                    </span>
                    <p>
                      {{ user?.height }}
                    </p>
                  </div>
                  <div class="col-md-4">
                    <span class="label-title d-block">
                      น้ำหนัก (กก.)
                    </span>
                    <p>
                      {{ user?.weight }}
                    </p>
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col">
                    <span class="label-title d-block">
                      เลขที่บัตรประจำตัวประชาชน
                    </span>
                    <p>
                      {{ user?.idCardNumber }}
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="d-flex flex-column align-items-center">
                  <div class="p-2">
                    <img *ngIf="user?.imageProfile != null; else elseNoProfileImage" [src]="user?.imageProfile" alt=""
                      class="img-profile">
                    <ng-template #elseNoProfileImage>
                      <img *ngIf="user?.imageProfile == null" [src]="defaultImagePath + '/img/img-default.svg'" alt=""
                        class="img-profile">
                    </ng-template>
                  </div>
                  <div class="p-2">
                    <span *ngIf="user?.status; else elseUserInActive">
                      <small>
                        <i class="fa fa-circle active" aria-hidden="true"></i>
                      </small> ทำงาน</span>
                    <ng-template #elseUserInActive>
                      <span>
                        <small>
                          <i class="fa fa-circle terminate" aria-hidden="true"></i>
                        </small> ลาออก</span>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-md-9 text-left">
                <div class="row mb-2">
                  <div class="col">
                    <span class="label-title d-block">
                      เบอร์โทรศัพท์
                    </span>
                    <p>
                      {{ user?.phoneNo }}
                    </p>
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col">
                    <span class="label-title d-block">
                      ที่อยู่
                    </span>
                    <p>
                      {{ user?.currentAddress }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-md-9 text-left">
                <div class="row mb-2">
                  <div class="col-md-8">
                    <span class="label-title d-block">
                      ระดับการศึกษา
                    </span>
                    <p>
                      {{ user?.education }}
                    </p>
                  </div>
                  <div class="col-md-4">
                    <span class="label-title d-block">
                      สาขา/สถาบันที่จบ
                    </span>
                    <p>
                      {{ user?.graduateSchool }}
                    </p>
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col">
                    <span class="label-title d-block">
                      บุคคลอ้างอิง
                    </span>
                    <p>{{ user?.refName_1 }}</p>
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-md-8">
                    <span class="label-title d-block">
                      ความสัมพันธ์
                    </span>
                    <p>
                      {{ user?.refRelation_1 }}
                    </p>
                  </div>
                  <div class="col-md-4">
                    <span class="label-title d-block">
                      เบอร์โทรศัพท์
                    </span>
                    <p>
                      {{ user?.refPhoneNo_1 }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex w-100">
              <div>
                <button type="button" class="btn btn-outline-primary button__edit"
                  (click)="navigateMainToEditPage(user?.empNo)">
                  แก้ไขข้อมูล
                </button>
              </div>
              <div class="ml-auto">
                <button type="button" class="btn btn-primary button__scan" (click)="scanNfcCardModal.open()">
                  <div class="d-flex justify-content-center">
                    <div>
                      <img [src]="defaultImagePath + '/img/ico_scan_idcard.svg'" alt="">
                    </div>
                    <div class="ml-2">ผูกบัตร NFC</div>
                  </div>
                </button>
              </div>
              <div class="ml-2">
                <div class="btn-group" dropdown [dropup]="true">
                  <button id="button-basic" dropdownToggle type="button"
                    class="btn btn-outline-primary button__print dropdown-toggle" aria-controls="dropdown-basic">
                    พิมพ์เอกสาร <span class="caret"></span>
                  </button>
                  <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
                    aria-labelledby="button-basic">
                    <li role="menuitem"><a class="dropdown-item" (click)="previewTransferReport(user?.empNo)"><i
                          class="fa fa-print" aria-hidden="true"></i>
                        พิมพ์ใบส่งตัว</a></li>
                    <li role="menuitem"><a class="dropdown-item" (click)="previewEmployeeProfileReport(user?.empNo)"><i
                          class="fa fa-print" aria-hidden="true"></i>
                        พิมพ์ประวัติแบบเต็ม</a></li>
                    <li role="menuitem"><a class="dropdown-item"
                        (click)="previewEmployeeProfileMiniReport(user?.empNo)"><i class="fa fa-print"
                          aria-hidden="true"></i>
                        พิมพ์ประวัติแบบย่อ</a></li>
                    <li role="menuitem"><a class="dropdown-item" (click)="previewEmployeeLicense(user?.empNo)"><i
                          class="fa fa-print" aria-hidden="true"></i>
                        พิมพ์ใบอนุญาต</a></li>
                    <li role="menuitem"><a class="dropdown-item" (click)="previewEmployeeCard(user?.empNo)"><i
                          class="fa fa-print" aria-hidden="true"></i>
                        พิมพ์บัตรพนักงาน</a></li>
                    <li role="menuitem"><a class="dropdown-item" (click)="previewEmployeeApplicationForm(user?.empNo)"><i
                          class="fa fa-print" aria-hidden="true"></i>
                        พิมพ์ใบสมัครงาน</a></li>
                    <li role="menuitem"><a class="dropdown-item" (click)="previewEmployeeCertificateForm(user?.empNo)"><i
                          class="fa fa-print" aria-hidden="true"></i>
                        พิมพ์หนังสือรับรองการฝึกอบรม</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="เอกสารสมัครงาน">
          <div class="tab-layout">
            <div class="row">
              <div class="col-md-9 text-left">
                <div class="row mb-2">
                  <div class="col">
                    <h5>
                      {{ user?.company.name.toUpperCase() + user?.empNo }}
                      <br />
                      <small>{{ user?.site.name }}</small>
                    </h5>
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-md-4">
                    <span class="label-title d-block">
                      ตำแหน่ง
                    </span>
                    <p>
                      {{ user?.userPosition.nameTH }}
                    </p>
                  </div>
                  <div class="col-md-4">
                    <span class="label-title d-block">
                      เลขที่ใบอนุญาต
                    </span>
                    <p>
                      {{ user?.licenseNo }}
                    </p>
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col">
                    <span class="label-title d-block">
                      ชื่อ-สกุล
                    </span>
                    <p>
                      {{ user?.title }} {{ user?.firstName }} {{ user?.lastName }}
                      <br /> {{ user?.titleEn }}. {{ user?.firstnameEn }} {{ user?.lastnameEn }}
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="d-flex flex-column align-items-center">
                  <div class="p-2">
                    <img *ngIf="user?.imageProfile != null; else elseNoProfileImage" [src]="user?.imageProfile" alt=""
                      class="img-profile">
                    <ng-template #elseNoProfileImage>
                      <img *ngIf="user?.imageProfile == null" [src]="defaultImagePath" alt="" class="img-profile">
                    </ng-template>
                  </div>
                  <div class="p-2">
                    <span *ngIf="user?.status; else elseUserInActive">
                      <small>
                        <i class="fa fa-circle active" aria-hidden="true"></i>
                      </small> ทำงาน</span>
                    <ng-template #elseUserInActive>
                      <span>
                        <small>
                          <i class="fa fa-circle terminate" aria-hidden="true"></i>
                        </small> ลาออก</span>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-left">
                <h5 class="mb-0">เอกสารสมัครงาน</h5>
                <hr />
              </div>
            </div>
            <div class="row p-2">
              <div class="col-md-2 px-1 py-2 mx-2 my-1 text-center"
                *ngFor="let document of user?.documents">
                <div class="card">
                  <div class="d-flex justify-content-center pt-2">
                    <div>
                      <img class="card-img-top img-view img-view-link" [src]="defaultImagePath + '/img/img-view@2x.png'" alt="" (click)="viewUserDococuments(document.id)">
                    </div>
                  </div>
                  <div class="card-body p-1">
                    <p class="card-text">{{ convertDocumentTypeName(document.type) }}</p>
                  </div>
                  <div class="card-footer img-view-link p-1">
                    <small class="text-muted" (click)="downloadUserDocument(document)">ดาวน์โหลด</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="บันทึกเวลาเข้างาน" (selectTab)="onSelectTimeAttendanceTab()">
          <div class="tab-layout">
            <div class="row">
              <div class="col-md-9 text-left">
                <div class="row mb-2">
                  <div class="col">
                    <h5>
                      {{ user?.company.name.toUpperCase() + user?.empNo }}
                      <br />
                      <small>{{ user?.site.name }}</small>
                    </h5>
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-md-4">
                    <span class="label-title d-block">
                      ตำแหน่ง
                    </span>
                    <p>
                      {{ user?.userPosition.nameTH }}
                    </p>
                  </div>
                  <div class="col-md-4">
                    <span class="label-title d-block">
                      เลขที่ใบอนุญาต
                    </span>
                    <p>
                      {{ user?.licenseNo }}
                    </p>
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col">
                    <span class="label-title d-block">
                      ชื่อ-สกุล
                    </span>
                    <p>
                      {{ user?.title }} {{ user?.firstName }} {{ user?.lastName }}
                      <br /> {{ user?.titleEn }}. {{ user?.firstnameEn }} {{ user?.lastnameEn }}
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="d-flex flex-column align-items-center">
                  <div class="p-2">
                    <img *ngIf="user?.imageProfile != null; else elseNoProfileImage" [src]="user?.imageProfile" alt=""
                      class="img-profile">
                    <ng-template #elseNoProfileImage>
                      <img *ngIf="user?.imageProfile == null" [src]="defaultImagePath" alt="" class="img-profile">
                    </ng-template>
                  </div>
                  <div class="p-2">
                    <span *ngIf="user?.status; else elseUserInActive">
                      <small>
                        <i class="fa fa-circle active" aria-hidden="true"></i>
                      </small> ทำงาน</span>
                    <ng-template #elseUserInActive>
                      <span>
                        <small>
                          <i class="fa fa-circle terminate" aria-hidden="true"></i>
                        </small> ลาออก</span>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-left">
                <h5 class="mb-0">บันทึกเวลาเข้างาน</h5>
                <form [formGroup]="timeAttendanceForm">
                  <div class="d-flex my-3">
                    <div>
                      <ng-select class="year-select" [clearable]="false" [items]="years" bindLabel="view"
                        bindValue="viewValue" formControlName="year" (change)="onYearSelectionChange()">
                      </ng-select>
                    </div>
                    <div class="ml-3">
                      <ng-select class="month-select" [clearable]="false" [items]="months" bindLabel="abbrThai"
                        bindValue="value" formControlName="month" (change)="onMonthSelectionChange()">
                      </ng-select>
                    </div>
                  </div>
                </form>
                <hr />
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                  class="table table-hover timeattendance-table">
                  <thead>
                    <tr>
                      <th>
                        <div class="d-flex flex-column">
                          <div>วัน เดือน ปี</div>
                          <div>หน่วยงาน</div>
                        </div>
                      </th>
                      <th>เวลาเข้า - ออก</th>
                      <th>บันทึกโดย</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let timeAttendance of timeAttendances">
                      <td>{{ timeAttendance.workDate | date: 'dd MMMM yyyy' }}</td>
                      <td>{{ convertToTimeRangeString(timeAttendance.checkInTime, timeAttendance.leaveTime) }}</td>
                      <td>{{ timeAttendance.checkInByName }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="ประวัติการทำงาน">
          <div class="tab-layout">
            <div class="row">
              <div class="col-md-9 text-left">
                <div class="row mb-2">
                  <div class="col">
                    <h5>
                      {{ user?.company.name.toUpperCase() + user?.empNo }}
                      <br />
                      <small>{{ user?.site.name }}</small>
                    </h5>
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-md-4">
                    <span class="label-title d-block">
                      ตำแหน่ง
                    </span>
                    <p>
                      {{ user?.userPosition.nameTH }}
                    </p>
                  </div>
                  <div class="col-md-4">
                    <span class="label-title d-block">
                      เลขที่ใบอนุญาต
                    </span>
                    <p>
                      {{ user?.licenseNo }}
                    </p>
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col">
                    <span class="label-title d-block">
                      ชื่อ-สกุล
                    </span>
                    <p>
                      {{ user?.title }} {{ user?.firstName }} {{ user?.lastName }}
                      <br /> {{ user?.titleEn }}. {{ user?.firstnameEn }} {{ user?.lastnameEn }}
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="d-flex flex-column align-items-center">
                  <div class="p-2">
                    <img *ngIf="user?.imageProfile != null; else elseNoProfileImage" [src]="user?.imageProfile" alt=""
                      class="img-profile">
                    <ng-template #elseNoProfileImage>
                      <img *ngIf="user?.imageProfile == null" [src]="defaultImagePath" alt="" class="img-profile">
                    </ng-template>
                  </div>
                  <div class="p-2">
                    <span *ngIf="user?.status; else elseUserInActive">
                      <small>
                        <i class="fa fa-circle active" aria-hidden="true"></i>
                      </small> ทำงาน</span>
                    <ng-template #elseUserInActive>
                      <span>
                        <small>
                          <i class="fa fa-circle terminate" aria-hidden="true"></i>
                        </small> ลาออก</span>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-left">
                <h5 class="mb-0">ประวัติการทำงาน</h5>
                <hr />
                <div class="row">
                  <div class="col text-left">
                    <div class="container" *ngIf="user?.timelineUsers.length > 0; else elseNoTimelineUser">
                      <div class="timeline-block timeline-block-right" *ngFor="let timeline of user?.timelineUsers">
                        <div [ngClass]="timeline.reason != 'resign' ? 'marker' : 'marker exit'"></div>
                        <div class="timeline-content">
                          <h5>
                            <span
                              [ngClass]="timeline.reason != 'resign' ? 'badge badge-greenblue rounded-badge text-white px-4 py-2' : 'badge badge-rosypink rounded-badge text-white px-4 py-2'">
                              {{ timeline.effectiveDate | date: 'dd MMMM yyyy' }}
                            </span>
                          </h5>
                          <span *ngIf="timeline.company; else siteOnly">{{ timeline.company.name | uppercase }}
                            <small>{{ timeline.site.name }}</small>
                          </span>
                          <ng-template #siteOnly>
                            <span>GMG
                              <small>{{ timeline.site.name }}</small>
                            </span>
                          </ng-template>
                          <div [ngSwitch]="timeline?.reason">
                            <p *ngSwitchCase="'begin'">เข้าทำงาน</p>
                            <p *ngSwitchCase="'company'">ย้ายบริษัท</p>
                            <p *ngSwitchCase="'site'">ย้ายหน่วยงาน
                              <span [ngSwitch]="timeline?.isApprove">
                                <small *ngSwitchCase="true">อนุมัติโดย {{timeline.approveBy}}</small>
                                <small *ngSwitchCase="false">ปฏิเสธโดย {{timeline.approveBy}}</small>
                              </span>
                            </p>
                            <p *ngSwitchCase="'resign'">ลาออก</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <ng-template #elseNoTimelineUser>
                      <div class="text-secondary">ไม่พบประวัติการย้ายหน่วยงาน</div>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </tab>
      </tabset>
    </div>
  </div>

  <ngx-smart-modal #scanNfcCardModal [identifier]="'scanNfcCardModal'" [closable]="true" [escapable]="false"
    [dismissable]="false" [customClass]="'scan-nfc-card-dialog'">
    <div class="dialog p-4">
      <form [formGroup]="scanForm" (ngSubmit)="onScan()" #sc="ngForm">
        <div class="row justify-content-center">
          <div class="col">
            <div>
              <div class="d-flex align-items-center">
                <div>
                  <img class="nfc-scan-icon" [src]="defaultImagePath + '/img/ico_scan_idcard_greeny.svg'" alt="">
                </div>
                <div class="ml-2">
                  กรุณาแตะที่เครื่องอ่านบัตร
                </div>
              </div>
            </div>
            <div class="form-group my-3">
              <input type="password" placeholder="หมายเลขบัตร NFC" class="form-control" formControlName="nfcRefId"
                #nfcDecInput autofocus [readonly]="processing">
            </div>
            <div class="d-flex justify-content-center">
              <div class="w-100">
                <button type="submit" class="btn btn-block btn-primary button__save" [disabled]="processing">
                  <div class="d-flex justify-content-center" *ngIf="processing; else showButtonText">
                    <div class="mr-2">
                      <div>
                        <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
                        <span class="sr-only">Loading...</span>
                      </div>
                    </div>
                    <div>
                      กำลังบันทึก
                    </div>
                  </div>
                  <ng-template #showButtonText>บันทึก</ng-template>
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </ngx-smart-modal>
