h1 {
    font-size: 36px;
    letter-spacing: normal;
    line-height: 1.5em;
}

h1.name {
    font-size: 60px;
    letter-spacing: normal;
    line-height: 1.75em;
}

h2.subtitle {
    font-size: 28px;
    color: #9e9e9e;
    letter-spacing: normal;
    line-height: 1.3em;
}

.period {
    font-size: 24px;
    letter-spacing: normal;
    line-height: 1.3em;
}

.subtitle-bold {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 1.3em;
}

* {
    font-size: 24px;
}

.line {
    background-color: #3eb995;
    margin: 30px 0;
    height: 3px;
    width: 60%;
}

.logo {
    width: 180px;
    height: 227px;
}

.img-profile {
    width: 149px;
    height: 190px;
}

.certificate-bg {
    width: 1368px;
    height: 967px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.signature-space {
    height: 100px;
}

.footer-container {
    position: relative;
    width: 100%;
    height: 260px;
}

.footer-certicate {
    color: #ffffff;
    position: absolute;
    bottom: 0;
}

.footer-certicate>div {
    margin-bottom: 30px;
    margin-right: 40px;
    margin-left: 40px;
}

.top-certificate {
    margin-top: 20px;
    margin-right: 40px;
}

.download-file-container {
    z-index: 999;
    position: fixed;
    width: 100%;
    background: rgb(0 0 0 / 20%);
    padding: 0 20px;
}

.download-file-container a {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
}

.download-file-container a:hover {
    color: #3eb995;
}

.period-regular {
    display: inline-block;
}

.period-strong {
    font-weight: bold;
    display: inline-block;
}

.period-title {
    @extend .period-regular;
    width: 60px;
}

.period-title--date {
    @extend .period-regular;
    width: 60px;
}

.period-date {
    @extend .period-strong;
    width: 60px;
}

.period-title--month {
    @extend .period-regular;
    width: 70px;
}

.period-month {
    @extend .period-strong;
    width: 150px;
}

.period-title--year {
    @extend .period-regular;
    width: 130px;
}

.period-year {
    @extend .period-strong;
    width: 80px;
}