/* You can add global styles to this file, and also import other style files */
$primary-color: #4b74ff;

@import "fonts.scss";
@import "~bootstrap/scss/bootstrap.scss";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~ngx-bootstrap/datepicker/bs-datepicker.css";
@import "~ngx-smart-modal/ngx-smart-modal";

* {
  letter-spacing: .05em;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #f4f8f9;
}

.form-control {
  height: 48px;
}

.form-control:focus {
  border-color: $primary-color;
  box-shadow: none;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #f9f9f9;
  opacity: 1;
}

.btn {
  height: 48px;
}

.btn-primary {
  background-color: $primary-color;
  border: 0;
}

.btn-primary:hover {
  color: #fff;
  background-color: #05ca9d;
  border-color: #05ca9d;
}

.btn:focus,
.btn.focus {
  box-shadow: none;
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
  background-color: $primary-color;
  border-color: $primary-color;
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: $primary-color;
  border-color: $primary-color;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a,
a:hover {
  color: #000000;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #fbfbfb;
}

.menu-title {
  margin: 30px 0;
}

h3.title {
  font-size: 21px;
  font-weight: bold;
  letter-spacing: 0.14px;
  color: #1a173b;
  margin: 0;
}

div.dataTables_wrapper div.dataTables_info {
  padding-top: 0 !important;
  font-size: 14px;
}

.paging-arrow {
  width: 3px;
  height: 7px;
}

.page-link {
  padding: 0.3rem 0.9rem 0.25rem 0.75rem;
  width: 32px;
  height: 32px;
}

div.dataTables_wrapper div.dataTables_length select,
#DataTables_Table_0_length>label>select {
  width: 80px !important;
  height: 34px !important;
  border-radius: 2px;
  border: solid 1px #c6cbd4;
  background-color: #ffffff;
}

small>i.fa {
  font-size: 0.5rem;
}

i.fa.active {
  color: #b8e986;
}

i.fa.inactive {
  color: #f5a623;
}

i.fa.terminate {
  color: #ff9f8a;
}

i.fa.disable {
  color: #e8e8e8;
}

.action--dropdown .dropdown-submenu {
  left: auto !important;
  right: 100% !important;
  top: 0 !important;
}

.action--dropdown {
  position: relative;
}

.action--dropdown>ul {
  left: auto !important;
  right: 0 !important;
  border-radius: 0;
  padding: 0;
  box-shadow: 0 0 5px #c1c1c1;
  position: absolute;
}

.action--dropdown>ul li {
  height: 48px;
}

.action--dropdown .dropdown-item {
  padding: .75rem 1.5rem;
  height: 48px;
  font-size: 14px;
  font-weight: bold;
  color: #5a6574;
  cursor: pointer;
}

.action--dropdown .dropdown-item:hover,
.action--dropdown .dropdown-item:focus {
  color: #ffffff !important;
  background-color: #00ca9d !important;
}

.action--dropdown .dropdown-item:hover .action--icon,
.action--dropdown .dropdown-item:focus .action--icon {
  fill: #ffffff !important;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.rounded-badge {
  border-radius: 50px;
  width: 30px;
  height: 30px;
  padding-top: 0.8em;
}

.badge-primary {
  background-color: #4b74ff;
}

.badge-greenblue {
  background-color: #00ca9d;
}

.badge-rosypink {
  background-color: #f25c62 !important;
}

.nsm-content {
  padding: 0rem;
}