<form [formGroup]="payrollForm">
  <div class="row menu-title">
    <div class="col px-0">
      <div class="d-flex align-items-center w-100">
        <div>
          <h3 class="title noselect">ทะเบียนจ่ายค่าแรง</h3>
        </div>
        <div class="ml-3">
          <div class="form-group mb-1">
            <ng-select [items]="payrollCycleSelectList" bindLabel="viewValue" bindValue="value" [clearable]="false"
              class="payroll-select" formControlName="payroll_cycle_id"
              (change)="onPayrollCycleSelectionChange($event)">
            </ng-select>
          </div>
        </div>
        <div class="ml-3">
          <button class="btn button__add-payroll">สร้างรอบบิลใหม่</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="d-flex align-items-center w-100">
        <div>
          <div class="form-group mb-1">
            <input type="text" class="form-control search-control" formControlName="search" placeholder="ค้นหาหน่วยงาน">
          </div>
        </div>
        <div class="ml-2">
          <div class="form-group mb-1">
            <ng-select placeholder="ทั้งหมด" class="filter-select" formControlName="status"
              (change)="onFilterStatusChange()">
              <ng-option value="inprogress">รอดำเนินการ</ng-option>
              <ng-option value="done">รอตรวจสอบ</ng-option>
              <ng-option value="complete">รอสั่งจ่าย</ng-option>
              <ng-option value="paid">สั่งจ่ายแล้ว</ng-option>
              <ng-option value="suspend">ระงับการจ่าย</ng-option>
            </ng-select>
          </div>
        </div>
        <div class="ml-auto">
          <button class="btn btn-primary button__add-site"><i class="fa fa-plus" aria-hidden="true"></i> เพิ่มหน่วยงาน</button>
        </div>
        <div class="ml-2">
          <div class="btn-group action--dropdown" dropdown #dropdown="bs-dropdown">
            <button dropdownToggle type="button" class="btn btn-outline-primary button__export dropdown-toggle">
              <i class="fa fa-cloud-download" aria-hidden="true"></i> ดาวน์โหลด <span class="caret"></span>
            </button>
            <ul *dropdownMenu class="dropdown-menu" role="menu"
              aria-labelledby="button-triggers-manual">
              <li role="menuitem"><a class="dropdown-item" (click)="onExportAllSiteToCsv()">พนักงานทั้งหมด</a></li>
              <li role="menuitem"><a class="dropdown-item" (click)="onExportSummaryBySiteToCsv()">แยกตามหน่วยงาน</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover payroll-table">
        <thead>
          <tr>
            <th></th>
            <th>รหัสหน่วยงาน</th>
            <th>ชื่อหน่วยงาน</th>
            <th>จำนวน (แรง)</th>
            <th>ยอดรวม (บาท)</th>
            <th>สถานะ</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let site of allSitePayrollCycleSalary; let i = index">
            <td>
              <span *ngIf="site.status === 'paid'; else elseUnComplete">
                <i class="fa fa-check-circle text-success" aria-hidden="true"></i>
              </span>
              <ng-template #elseUnComplete>
                <i class="fa fa-circle-thin" aria-hidden="true"></i>
              </ng-template>
            </td>
            <td>{{ site.siteCode }}</td>
            <td>{{ site.siteName }}</td>
            <td>{{ site.totalManday | number:'1.2-2' }}</td>
            <td>{{ site.totalAmount | number:'1.2-2' }}</td>
            <td>
              <span *ngIf="site.status === 'paid'">
                สั่งจ่ายแล้ว</span>
              <span *ngIf="site.status === 'complete'">
                <small>
                  <i class="fa fa-circle active" aria-hidden="true"></i>
                </small> รอสั่งจ่าย</span>
              <span *ngIf="site.status === 'done'">
                <small>
                  <i class="fa fa-circle terminate" aria-hidden="true"></i>
                </small> รอตรวจสอบ</span>
              <span *ngIf="site.status === 'inprogress'">
                <small>
                  <i class="fa fa-circle disable" aria-hidden="true"></i>
                </small> รอดำเนินการ</span>
              <span *ngIf="site.status === 'suspend'">
                <small>
                  <i class="fa fa-circle text-danger" aria-hidden="true"></i>
                </small> ระงับการจ่าย</span>
            </td>
            <td>
              <span dropdown class="action--dropdown">
                <a href id="basic-link" dropdownToggle (click)="false" aria-controls="basic-link-dropdown">
                  <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                </a>
                <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu noselect" role="menu"
                  aria-labelledby="basic-link">
                  <li>
                    <a class="dropdown-item" (click)="editSiteInfo(site.id)">
                      <div class="d-flex align-items-center w-100">
                        <div>
                          <i class="fa fa-list-alt" aria-hidden="true"></i>
                        </div>
                        <div class="ml-2">แก้ไขข้อมูล</div>
                      </div>
                    </a>
                  </li>
                </ul>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>
