<form [formGroup]="payrollForm">
  <div class="row menu-title">
    <div class="col px-0">
      <div class="d-flex align-items-center w-100">
        <div>
          <h3 class="title noselect">ทะเบียนจ่ายค่าแรง</h3>
        </div>
        <div class="ml-3">
          <div class="form-group mb-1">
            <ng-select [items]="payrollCycleSelectList" bindLabel="viewValue" bindValue="value" [clearable]="false"
              class="payroll-select" formControlName="payroll_cycle_id"
              (change)="onPayrollCycleSelectionChange($event)">
            </ng-select>
          </div>
        </div>
        <div class="ml-3">
          <button type="button" class="btn button__add-payroll"
            (click)="newPayrollModal.open()">สร้างรอบบิลใหม่</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="d-flex align-items-center w-100">
        <div>
          <div class="form-group mb-1">
            <input type="text" class="form-control search-control" formControlName="search" placeholder="ค้นหาหน่วยงาน">
          </div>
        </div>
        <div class="ml-2">
          <div class="form-group mb-1">
            <ng-select placeholder="ทั้งหมด" class="filter-select" formControlName="status"
              (change)="onFilterStatusChange($event)">
              <ng-option value="inprogress">รอดำเนินการ</ng-option>
              <ng-option value="done">รอตรวจสอบ</ng-option>
              <ng-option value="complete">รอสั่งจ่าย</ng-option>
              <ng-option value="paid">สั่งจ่ายแล้ว</ng-option>
              <ng-option value="suspend">ระงับการจ่าย</ng-option>
            </ng-select>
          </div>
        </div>
        <div class="ml-auto">
          <button class="btn btn-primary button__add-site" (click)="onClickAddNewSite()"><i class="fa fa-plus"
              aria-hidden="true"></i>
            เพิ่มหน่วยงาน</button>
        </div>
        <div class="ml-2">
          <div class="btn-group action--dropdown" dropdown #dropdown="bs-dropdown">
            <button dropdownToggle type="button" class="btn btn-outline-primary button__export dropdown-toggle">
              <i class="fa fa-cloud-download" aria-hidden="true"></i> ดาวน์โหลด <span class="caret"></span>
            </button>
            <ul *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-triggers-manual">
              <li role="menuitem"><a class="dropdown-item" (click)="onExportAllSalaryToCsv()">พนักงานทั้งหมด</a></li>
              <li role="menuitem"><a class="dropdown-item" (click)="onExportSummaryBySiteToCsv()">แยกตามหน่วยงาน</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover payroll-table">
        <thead>
          <tr>
            <th></th>
            <th>รหัสหน่วยงาน</th>
            <th>ชื่อหน่วยงาน</th>
            <th>จำนวน (แรง)</th>
            <th>ยอดรวม (บาท)</th>
            <th>สถานะ</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let site of allSitePayrollCycleSalary; let i = index">
            <td (click)="onRowClickHandler(site.payrollCycleId, site.siteId)">
              <span *ngIf="site.status === 'paid'; else elseUnComplete">
                <i class="fa fa-check-circle text-success" aria-hidden="true"></i>
              </span>
              <ng-template #elseUnComplete>
                <i class="fa fa-circle-thin" aria-hidden="true"></i>
              </ng-template>
            </td>
            <td (click)="onRowClickHandler(site.payrollCycleId, site.siteId)">{{ site.siteCode }}</td>
            <td (click)="onRowClickHandler(site.payrollCycleId, site.siteId)">{{ site.siteName }}</td>
            <td (click)="onRowClickHandler(site.payrollCycleId, site.siteId)">{{ site.totalManday | number:'1.2-2' }}</td>
            <td (click)="onRowClickHandler(site.payrollCycleId, site.siteId)">{{ site.totalAmount | number:'1.2-2' }}</td>
            <td (click)="onRowClickHandler(site.payrollCycleId, site.siteId)">
              <span *ngIf="site.status === 'paid'">
                สั่งจ่ายแล้ว</span>
              <span *ngIf="site.status === 'complete'">
                <small>
                  <i class="fa fa-circle active" aria-hidden="true"></i>
                </small> รอสั่งจ่าย</span>
              <span *ngIf="site.status === 'done'">
                <small>
                  <i class="fa fa-circle terminate" aria-hidden="true"></i>
                </small> รอตรวจสอบ</span>
              <span *ngIf="site.status === 'inprogress'">
                <small>
                  <i class="fa fa-circle disable" aria-hidden="true"></i>
                </small> รอดำเนินการ</span>
              <span *ngIf="site.status === 'suspend'">
                <small>
                  <i class="fa fa-circle text-danger" aria-hidden="true"></i>
                </small> ระงับการจ่าย</span>
            </td>
            <td>
              <span dropdown class="action--dropdown">
                <a href id="basic-link" dropdownToggle (click)="false" aria-controls="basic-link-dropdown">
                  <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                </a>
                <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu noselect" role="menu"
                  aria-labelledby="basic-link">
                  <li>
                    <a class="dropdown-item" (click)="onRowClickHandler(site.payrollCycleId, site.siteId)">
                      <div class="d-flex align-items-center w-100">
                        <div>
                          <i class="fa fa-list-alt" aria-hidden="true"></i>
                        </div>
                        <div class="ml-2">รายการเงินเดือน</div>
                      </div>
                    </a>
                  </li>
                  <li *ngIf="site.status === 'paid'">
                    <a class="dropdown-item" (click)="exportPayslipReport(site.payrollCycleId, site.siteId)">
                      <div class="d-flex align-items-center w-100">
                        <div>
                          <i class="fa fa-print" aria-hidden="true"></i>
                        </div>
                        <div class="ml-2">พิมพ์สลิป</div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" (click)="onExportSiteSalaryToCsv(site.siteId)">
                      <div class="d-flex align-items-center w-100">
                        <div>
                          <i class="fa fa-cloud-download" aria-hidden="true"></i>
                        </div>
                        <div class="ml-2">ดาวน์โหลด</div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item text-danger" (click)="onClickDeleteSite(site.siteName, site.siteId)">
                      <div class="d-flex align-items-center w-100">
                        <div>
                          <i class="fa fa-trash" aria-hidden="true"></i>
                        </div>
                        <div class="ml-2">ลบ</div>
                      </div>
                    </a>
                  </li>
                </ul>
              </span>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="7">
              <div class="d-flex align-items-center justify-content-end">
                <div>จำนวนแรงทั้งหมด <strong>{{ summaryTotalManday | number:'1.2-2' }}</strong></div>
                <div class="summary--total-amount p-3 ml-2">ยอดรวม <strong>{{ summaryTotalAmount | number:'1.2-2'}}</strong></div>
              </div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</form>

<ngx-smart-modal #addSiteModal [identifier]="'addSiteModal'" [closable]="true" [escapable]="false" [dismissable]="true"
  [customClass]="'add-site-dialog'">
  <div class="dialog">
    <h5 class="title">เพิ่มหน่วยงาน</h5>
    <div class="dialog-body">
      <div class="form-group mb-1">
        <ng-select [items]="siteItemList" [multiple]="true" bindLabel="name" [closeOnSelect]="false" bindValue="id"
          [(ngModel)]="selectedSiteItems" placeholder="เลือกหน่วยงาน">
          <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.name}}
          </ng-template>
        </ng-select>
      </div>
    </div>
    <div class="d-flex justify-content-end w-100 p-3">
      <div><button type="button" class="btn btn-primary button_modal" [disabled]="selectedSiteItems.length <= 0"
          (click)="addSite()">เพิ่ม</button></div>
      <div class="ml-2"><button type="button" class="btn btn-outline-dark button_modal"
          (click)="addSiteModal.close()">ยกเลิก</button></div>
    </div>
  </div>
</ngx-smart-modal>

<ngx-smart-modal #deleteModal [identifier]="'deleteModal'" [closable]="true" [escapable]="false" [dismissable]="true"
  [customClass]="'delete-dialog'">
  <div class="dialog">
    <h5 class="title"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> ลบหน่วยงาน</h5>
    <div class="dialog-body">
      <div class="p-2">
        <p>คุณต้องการลบหน่วยงาน {{ deleteSiteName }} นี้ใช่หรือไม่?</p>
      </div>
    </div>
    <div class="d-flex justify-content-center w-100 p-3">
      <div><button type="button" class="btn btn-danger button_modal" (click)="onDeleteSite()">ลบข้อมูล</button></div>
      <div class="ml-2"><button type="button" class="btn btn-outline-dark button_modal"
          (click)="deleteModal.close()">ยกเลิก</button></div>
    </div>
  </div>
</ngx-smart-modal>

<ngx-smart-modal #newPayrollModal [identifier]="'newPayrollModal'" [closable]="true" [escapable]="false"
  [dismissable]="true" [customClass]="'new-payroll-dialog'">
  <div class="dialog">
    <h5 class="title">
      <i class="fa fa-calendar" aria-hidden="true"></i> สร้างรอบบิลใหม่</h5>
    <div class="dialog-body">
      <form [formGroup]="createPayrollForm" (ngSubmit)="f.form.valid && onCreatePayroll()" #f="ngForm">
        <div>
          <div class="form-group">
            <input type="text" class="form-control mb-3" placeholder="คลิกเพื่อเลือกช่วงเวลา" bsDaterangepicker
              formControlName="payrollDateRange" />
          </div>
        </div>
        <div>
          <div class="form-group">
            <input type="checkbox" id="isMonthly" formControlName="isMonthly">
            <label class="pl-2" for="isMonthly">
              เฉพาะจ่ายเงินเป็นรายเดือน
            </label>
          </div>
        </div>
        <div class="d-flex justify-content-end w-100 p-3">
          <div><button type="submit" class="btn btn-primary button_modal" [disabled]="!f.form.valid">สร้าง</button>
          </div>
          <div class="ml-2"><button type="button" class="btn btn-outline-dark button_modal"
              (click)="newPayrollModal.close()">ยกเลิก</button></div>
        </div>
      </form>
    </div>
  </div>
</ngx-smart-modal>
